html {
  font-size: #{$fontSizeG}px;
}

body {
  font-family: $fLato;
  font-size: 1rem;
  background-image: url('../img/dot-grid.png');
  background-repeat: repeat;
  background-attachment: fixed;
}

main{
  min-height: 70vh;
}

h1 {
  font-family: $fPatua;
  font-size: 3rem;
}

h2 {
  font-family: $fPatua;
  font-size: 2.3rem;
}

hr {
  height: 2px;
  background: #bbb;
  border: 0;
}