$negro: #000;
$blanco: #fff;
$verde1: #AAFF69;
$verde2: #A7D175;
$azul: #0B2D40;

$fLato: 'Lato', sans-serif;
$fPatua: 'Patua One', cursive;
$fontSizeG: 16;

$breakpointTablet: 768px;
$breakpointMonitor: 992px;