#header {
  background-color: $verde1;

  .navbar-brand img {
    width: 40%;
  }

  .navbar-light .navbar-nav .active .btn-group .nav-link{
    color: $negro;
  }

  .navbar-nav .dropdown-menu {
    position: absolute;
  }
}